    .top
    {
        border: solid 2px red;
    }
    .title
    {
        display: inline;
        color: pink;
    }
    .tv_list
    {
        display: inline-block;
        border: solid 2px red;
        /* height: 5px; */
    }
    .tv_list > ul
    {
        overflow-y: scroll;
        background: #DFDFDF;
    }
    #side_bar
    {
        display: inline-block;
        list-style: none;
        padding: 0%;
        height: 200px;
    }
    #side_bar >li:hover
    {
        cursor: pointer;
        color: blue;
    }
    .progress
    {
        color:#2774FF;
    }
    .wrapper
    {
        width: 600px;
        height: 400px;
        border: solid 2px red;
    }
    .content
    {
        display: inline-block;
    }
    #dsj
    {
        display: inline-block;
    }
    #tv_content
    {
        display: inline-block;
    }