.btn
{
appearance: auto;
font-style: ;
font-variant-ligatures: ;
font-variant-caps: ;
font-variant-numeric: ;
font-variant-east-asian: ;
font-variant-alternates: ;
font-weight: ;
font-stretch: ;
font-size: ;
font-family: ;
font-optical-sizing: ;
font-kerning: ;
font-feature-settings: ;
font-variation-settings: ;
text-rendering: auto;
color: buttontext;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: center;
align-items: flex-start;
cursor: default;
box-sizing: border-box;
background-color: buttonface;
writing-mode: horizontal-tb !important;
margin: 0em;
padding-block: 1px;
padding-inline: 6px;
border-width: 2px;
border-style: outset;
border-color: buttonborder;
border-image: initial;
}
    .top
    {
        border: solid 2px red;
    }
    .title
    {
        display: inline;
        color: pink;
    }
    .tv_list
    {
        display: inline-block;
        border: solid 2px red;
        /* height: 5px; */
    }
    .tv_list > ul
    {
        overflow-y: scroll;
        background: #DFDFDF;
    }
    #side_bar
    {
        display: inline-block;
        list-style: none;
        padding: 0%;
        height: 200px;
    }
    #side_bar >li:hover
    {
        cursor: pointer;
        color: blue;
    }
    .progress
    {
        color:#2774FF;
    }
    .wrapper
    {
        width: 600px;
        height: 400px;
        border: solid 2px red;
    }
    .content
    {
        display: inline-block;
    }
    #dsj
    {
        display: inline-block;
    }
    #tv_content
    {
        display: inline-block;
    }